.auth {
    width: 50%;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.1);
    padding: 2rem 1.3rem;
    border-radius: 4px;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup-form {
    width: 45%;
    height: 350px;
    padding: 10px;
    overflow-y: scroll;
}
.signup-form::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background: transparent;
}
.signup-form::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}
.form-input {
    display: block;
    color: #f9f9f9;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    padding: 12px;
    background: rgba(249, 249, 249, 0.3);
    border: none;
}
.form-input::placeholder {
    color: rgb(210, 210, 210);
}
.form-input:focus {
    outline: none;
    outline: .1px solid #999;
}
.register-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 800px){
    .auth {
      width: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: none;
    }
}