.profile-edit {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-edit__container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.profile-edit__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-edit__author-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.profile-edit__span {
  font-size: 20px;
  font-weight: 600;
}
#profile-edit__select-picture {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile-edit__select-label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 123, 255, 0.5);
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px;
  text-transform: uppercase;
  width: fit-content;
}
.profile-edit__select-label:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.profile-edit__buttons {
  width: 100%;
  display: flex;
}
.button-modal {
  height: 39px;
  flex: 1;
  color: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  transition: 255ms all;
}
.button-modal:first-child {
  background-color: rgb(0, 200, 50);
  margin-right: 5px;
}
.button-modal:last-child {
  background-color: rgb(249, 50, 50);
}
.button-modal:hover {
  background-color: rgba(249, 249, 249, 0.1);
}
